<ion-content>
  <div id="contenedor">
    <div id="titulo1">
      <div id="volver">
        <a><ion-icon name="return-up-back-outline" slot="start" (click)="volver()"></ion-icon></a>
      </div>
      <div id="titulo">
        <h1>Formación</h1>
      </div>
    </div>

    <div class="card">
      <ion-card class="estilocard">
        <ion-card-header>
          <img src="/assets/imagenes/informatica.jpg">
          <ion-card-subtitle class="subtitulo">Campus FP 2020-2022</ion-card-subtitle>
          <ion-card-title class="titulo"><Strong>Grado Superior en Desarrollo de Aplicaciones Multiplataforma</Strong></ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card class="estilocard">
        <ion-card-header>
          <img src="/assets/imagenes/android.jpg">
          <ion-card-subtitle class="subtitulo">Campus FP 2022</ion-card-subtitle>
          <ion-card-title class="titulo"><Strong>Programación de Dispositivos Móviles</Strong></ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card class="estilocard">
        <ion-card-header>
          <img src="/assets/imagenes/bachillerato.jpg">
          <ion-card-subtitle class="subtitulo">Colegio Vedruna 2018-2020</ion-card-subtitle>
          <ion-card-title class="titulo"><Strong>Bachillerato Tecnológico</Strong></ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>

    <div id="ultimo" class="card">
      <ion-card class="estilocard">
        <ion-card-header>
          <img src="/assets/imagenes/eso.jpg">
          <ion-card-subtitle class="subtitulo">Colegio Vedruna 2014-2018</ion-card-subtitle>
          <ion-card-title class="titulo"><Strong>ESO</Strong></ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
