<ion-content>
  <div id="contenedor">
    <div id="titulo1">
      <div id="volver">
        <a><ion-icon name="return-up-back-outline" slot="start" (click)="volver()"></ion-icon></a>
      </div>
      <div id="titulo">
        <h1>Idiomas</h1>
      </div>
    </div>

    <div class="card">
      <ion-card class="estilocard">
        <ion-card-header>
          <img src="/assets/imagenes/español.jpg" class="imagen">
          <ion-card-subtitle class="subtitulo">Idioma Materno</ion-card-subtitle>
          <ion-card-title class="titulo"><Strong>Español</Strong></ion-card-title>
        </ion-card-header>
      </ion-card>

      <ion-card class="estilocard">
        <ion-card-header>
          <img src="/assets/imagenes/reinounido.jpg" class="imagen">
          <ion-card-subtitle class="subtitulo">Nivel Medio B1</ion-card-subtitle>
          <ion-card-title class="titulo"><Strong>Inglés</Strong></ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>

    <div id="ultimo" class="card">
      <ion-card class="estilocard">
        <ion-card-header class="imagen">
          <img src="/assets/imagenes/francia.jpg" class="imagen">
          <ion-card-subtitle class="subtitulo">Nivel Medio</ion-card-subtitle>
          <ion-card-title class="titulo"><Strong>Francés</Strong></ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
