<ion-content>
  <div id="contenedor">
    <div id="titulo1">
      <div id="volver">
        <a><ion-icon name="return-up-back-outline" slot="start" (click)="volver()"></ion-icon></a>
      </div>
      <div id="titulo">
        <h1>Tecnologías</h1>
      </div>
    </div>

    <div class="card">
      <ion-card class="estilocard">
        <ion-card-header>
          <img src="/assets/imagenes/lenguajes.jpg" class="imagen">
          <ion-card-title class="titulo"><Strong>Conocimientos Tecnológicos</Strong></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="contenedor2">
            <div>
              <p>Java</p>
              <p>HTML5</p>
              <p>PHP</p>
              <p>SQL</p>
              <p>AJAX</p>
              <p>XML/XSL</p>
            </div>
            <div>
              <p>Python</p>
              <p>CSS3</p>
              <p>Ionic</p>
              <p>PostgreSQL</p>
              <p>JSON</p>
              <p>JavaScript</p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>

    <div id="ultimo" class="card">
      <ion-card class="estilocard">
        <ion-card-header class="imagen">
          <img src="/assets/imagenes/devops.jpg" class="imagen">
          <ion-card-title class="titulo"><Strong>Conocimientos en DevOps</Strong></ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="contenedor2">
            <div>
              <p>Jira</p>
              <p>Git/GitHub</p>
              <p>Maven</p>
              <p>JUnit</p>
              <p>Docker</p>
              <p>Jenkins</p>
            </div>
            <div>
              <p>Scrum</p>
              <p>Grafana</p>
              <p>Gradle</p>
              <p>Selenium</p>
              <p>Bitbucket</p>
              <p>SalesForce</p>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
