<ion-content>
  <div id="contenedor">
    <div id="titulo1">
      <div id="volver">
        <a><ion-icon name="return-up-back-outline" slot="start" (click)="volver()"></ion-icon></a>
      </div>
      <div id="titulo">
        <h1>Experiencia</h1>
      </div>
    </div>

    <div class="card">
    <ion-card class="estilocard">
      <ion-card-header>
        <img src="/assets/imagenes/vass.jpg" class="imagen">
        <ion-card-subtitle class="subtitulo">Vass 2022-Actualidad</ion-card-subtitle>
        <ion-card-title class="titulo"><Strong>Desarrollador Mobile</Strong></ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card class="estilocard">
      <ion-card-header>
        <img src="/assets/imagenes/babel.jpg" class="imagen">
        <ion-card-subtitle class="subtitulo">Babel 2021-2022</ion-card-subtitle>
        <ion-card-title class="titulo"><Strong>Desarrollador Web</Strong></ion-card-title>
      </ion-card-header>
    </ion-card>
    </div>

    <div id="ultimo" class="card">
      <ion-card class="estilocard">
        <ion-card-header class="imagen">
          <img src="/assets/imagenes/indra.jpg" class="imagen">
          <ion-card-subtitle class="subtitulo">Acenture 2020-2021</ion-card-subtitle>
          <ion-card-title class="titulo"><Strong>Desarrollador Multiplataforma</Strong></ion-card-title>
        </ion-card-header>
      </ion-card>
    </div>
  </div>
</ion-content>
