<ion-content>
  <div id="contenedor">
    <div id="titulo1">
      <div id="volver">
        <a><ion-icon name="return-up-back-outline" slot="start" (click)="volver()"></ion-icon></a>
      </div>
      <div id="titulo">
        <h1>Habilidades</h1>
      </div>
    </div>

    <div class="card">
    <ion-card class="estilocard">
      <ion-card-header>
        <img src="/assets/imagenes/aptitudes.jpg">
        <ion-card-title class="titulo"><Strong>Aptitudes</Strong></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="contenedor2">
          <div>
            <p>Ambición</p>
            <p>Constancia</p>
          </div>
          <div>
            <p>Liderazgo</p>
            <p>Puntualidad</p>
          </div>
        </div>
        <div id="contenedor3">
          <p>Trabajo en Equipo</p>
        </div>
      </ion-card-content>
    </ion-card>
    </div>

    <div id="ultimo" class="card">
    <ion-card class="estilocard">
      <ion-card-header>
        <img src="/assets/imagenes/habilidades.jpg">
        <ion-card-title class="titulo"><Strong>Habilidades</Strong></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div class="contenedor2">
          <div id="contenedor4">
            <p>Autodidacta</p>
            <p>Dominio Redes Sociales</p>
            <p>Ambición por Aprender</p>
            <p>Pasion por la Tecnológia</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  </div>
</ion-content>
