<ion-content>
  <div id="contenedor">
    <div id="titulo1">
      <div id="volver">
        <a><ion-icon name="return-up-back-outline" slot="start" (click)="volver()"></ion-icon></a>
      </div>
      <div id="titulo">
        <h1>Datos Personales</h1>
      </div>
    </div>
    <div id="container2">
      <img src="/assets/imagenes/usuario-sin-foto3.png" id="foto">
    </div>

    <div id="contenedor2">
      <ion-list id="lista">
        <ion-item>
          <ion-icon name="person-outline" class="labels2"></ion-icon>
          <label class="labels3">Pablo Martín</label>
        </ion-item>
        <ion-item>
          <ion-icon name="location-outline" class="labels2"></ion-icon>
          <label class="labels3">Madrid</label>
        </ion-item>
        <ion-item>
          <ion-icon name="mail-outline" class="labels2"></ion-icon>
          <label class="labels">pablomartin@gmail.com</label>
        </ion-item>
        <ion-item>
          <ion-icon name="call-outline" class="labels2"></ion-icon>
          <label class="labels3">661235738</label>
        </ion-item>
        <ion-item>
          <ion-icon name="logo-github" class="labels2"></ion-icon>
          <a class="labels" href="https://github.com/PabloMSS"><label class="labels3">Enlace GitHub</label></a>
        </ion-item>
        <ion-item>
          <ion-icon name="logo-linkedin" class="labels2"></ion-icon>
          <a class="labels" href="https://www.linkedin.com"><label class="labels3">Enlace Linkedin</label></a>
        </ion-item>
      </ion-list>
    </div>

    <div id="contenedorFinal">
      <ion-card id="estilocard">
        <ion-card-header>
          <img src="/assets/imagenes/aficiones.jpg">
          <ion-card-title>Aficiones</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <div class="contenedor3">
            Apasionado al Running
          </div>

          <div class="contenedor3">
            Viajar a Diferentes Países
          </div>

          <div class="contenedor3">
            Pasión por la Tecnología
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
